body {
    font: Raleway;
    color: black;
    width:100%; height:100%;
    background: #59667a;
}

p {
    font-size: 16px;
}

p.intro {
    font-size: 20px;
}

#playarea{
    position: absolute;
    top: 70%;
}

h2,
h3,
h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    font-size: 20px;
    color: #a9ad3e;

}

.container {
    padding: 140px 120px;
    float: left;
}

.skills,
.background,
.projects {
    float: right;
}

.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}

.navbar li a,
.navbar .navbar-brand {
    color: #a9ad3e !important;
}

.navbar-nav li a:hover {
    color: #fff !important;
}

.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.language {
    border: 2px solid;
    border-color: #a9ad3e;
    padding-right: 8px;
    padding-left: 8px;
    margin: 6px;
    color: #a9ad3e;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.language-used {
    margin-bottom: 40px;
}





.fa {
    padding: 20px;
    font-size: 40px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: #a9ad3e;
}

.fa:hover {
    opacity: 0.7;
}

.contact {
    float: right;
}


/*BLOCK TWO */
.project-item {
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
}

.project-item a {
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	font-weight: 700;
	display: inline-block;
	border-color: transparent;
	white-space: no-wrap;
	text-decoration: none;
	padding: 0px 0px 10px;
}

.project-item a:after {
	transition: all 0.2s ease-in-out;
	position: relative;
	bottom: -2px;
	margin-left: 10px;
	content: "";
	background: url("https://upload.wikimedia.org/wikipedia/commons/b/b7/Chevron_right_font_awesome.svg")
		no-repeat center;
	background-size: 100%;
	width: 15px;
	height: 15px;
	display: inline-block;
	verticle-align: middle;
}

.project-item a:hover:after {
	transform: translateX(7px);
}
